@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Inter", serif;
  background-color: #000319;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: min(1130px, 100%);
  padding: 0 2rem;
}

.container-zkusenosti {
  width: min(1265px, 100%);
  padding: 0 2rem;
}

.programs-container {
  width: min(1400px, 100%);
  padding: 0 2rem;
}

.navbar {
  width: min(1400px, 100%);
  padding: 0 2rem;
}

/* Skrytí scrollbaru */
.programs-container::-webkit-scrollbar {
  display: none; /* Skryje scrollbar ve WebKit prohlížečích (Chrome, Safari) */
}

.relative {
  -ms-overflow-style: none;  /* Skryje scrollbar v IE */
  scrollbar-width: none; /* Skryje scrollbar v Firefoxu */
}

@layer utilities {
  .zkusenosti-shadow {
    filter: drop-shadow(0px 0px 29.3px #CBACF9);
  }
}

/* styles.css */
.glow {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.11) 0%, rgba(0, 3, 25, 0.00) 100%);
  width: 329.264px;
  height: 1176.763px;
  transform: rotate(-47.166deg);
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .glow {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.05) 0%, rgba(0, 3, 25, 0.00) 100%);
  }
  
}

.button-style {
   background: linear-gradient(90deg, #1C1E3C 0%, #0F122B 81.67%);
   transition: all 0.3s ease; 
}

.button-style:hover {
  background: linear-gradient(90deg, #1C1E3C 60%, #0F122B 100%);
}

.navbar {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.09) inset;
  padding: 4rem 0;
}/* Styl pro pozadí modálního okna */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Poloprůhledné pozadí */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
  backdrop-filter: blur(14px);

}

/* Styl pro samotné modální okno */
.modal {
  border-radius: 25px;
  background: rgba(0, 3, 25, 0.83);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14px);
  padding: 55px;
  border-radius: 25px;
  width: 100%;
  max-width: 1000px;
  height: 80vh;
  overflow: auto;
  text-align: center;
  color: white;
  max-height: 90%; /* Zajišťuje, že modal bude mít maximální výšku */
}



/* Tlačítko pro zavření modalu */
.close-button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.close-button:hover {
  background-color: #ff0000;
}

.no-scroll {
  overflow: hidden !important;
  padding-right: 17px;
}

::-webkit-scrollbar {
  width: 6px; 
  height: 12px;
}

::-webkit-scrollbar-track {
  background: inherit; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #CBACF9;;
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a78dce;;
}
